**Why Python for Data Analysis?**

Open Source – free to install

Awesome online community

Very easy to learn

Can become a common language for data science and production of web based analytics products.

**Cons of Python**

It is an interpreted language rather than compiled language – hence might take up more CPU time. However, given the savings in programmer time (due to ease of learning), it might still be a good choice.

**Python as a Calculator**

In [1]:
1+4

5

In [2]:
(3*9)/4

6.75

**Python by default assigns suitable datatype to your object**

In [4]:
a="Hello"
print("Data Type of a",type(a))

Data Type of a <class 'str'>

In [5]:
b=1
print("Data Type of b",type(b))

Data Type of b <class 'int'>

In [6]:
c=2.0
print("Data Type of c",type(c))

Data Type of c <class 'float'>

**Strings in Python**

Strings can simply be defined by use of single ( ‘ ), double ( ” ) or triple ( ”’ ) inverted commas. 
Strings enclosed in tripe quotes ( ”’ ) can span over multiple lines. 
\ is used as an escape character. 
Python strings are immutable, so you can not change part of strings.

In [7]:
string="Hello, Welcome to Workshop on Machine Learning"

In [8]:
type(string)

str

In [11]:
string[0:5] # Get first 5 characters of the string

'Hello'

In [13]:
string[-1] #Gives the last character of the string

'g'

In [16]:
string[-3:] #gives the last three characters of string

'ing'

In [18]:
len(string) #Gives length of string

46

In [20]:
string[::-1] #Reverses a string

'gninraeL enihcaM no pohskroW ot emocleW ,olleH'

In [23]:
string[2]

'l'

In [25]:
string[2]="m" #Trying to change the second character. This throws an error because string is immutable in python

TypeError: 'str' object does not support item assignment

If we cannot directly change a charcter in string.. How do we do it? Say we want to replace Hello by Hi

In [26]:
s1=string[:5]

In [27]:
s1

'Hello'

In [31]:
s2=string[5:] #Gets string after 5th character (after Hello)

In [29]:
s2

', Welcome to Workshop on Machine Learning'

In [32]:
string="Hi"+s2 #Concatenates two string

In [33]:
string

'Hi, Welcome to Workshop on Machine Learning'

In [34]:
string.split() #By default spluts on space and returns an list(array)

['Hi,', 'Welcome', 'to', 'Workshop', 'on', 'Machine', 'Learning']

In [35]:
string.split(",") ## Splits on comma

['Hi', ' Welcome to Workshop on Machine Learning']

**Lists in Python**

Lists are one of the most versatile data structure in Python. A list can simply be defined by writing a list of comma separated values in square brackets. Lists might contain items of different types, but usually the items all have the same type. Python lists are mutable and individual elements of a list can be changed.

In [66]:
list1=[1,2,3,4,8]

In [67]:
len(list1) #Gives number of elements in a list

5

In [68]:
type(list1)

list

In [69]:
list1[2] ## Gets the 3rd element of a list. List indices start from 0

3

In [70]:
list1[0:2] # Returns the first two elements of a strinfg

[1, 2]

In [71]:
list1.append('AppendingElement') ## Adds element to list

In [72]:
list1

[1, 2, 3, 4, 8, 'AppendingElement']

In [73]:
type(list1[0])

int

In [74]:
type(list1[len(list1)-1]) #Prints type of the last element in list

str

In [75]:
list1[0]=0 #Changes the first elements of the list to 0
list1

[0, 2, 3, 4, 8, 'AppendingElement']

In [76]:
list1[-2] #returns the second last element from list

8

In [77]:
list1[-3:] #return last three elements of list

[4, 8, 'AppendingElement']

In [78]:
list1.remove("AppendingElement")#Removes the element with value "AppendingElement" from list
list1

[0, 2, 3, 4, 8]

In [79]:
list1.pop() #Removes the last element in list

8

In [80]:
list1

[0, 2, 3, 4]

In [81]:
list1.reverse() #Reverses the list

In [82]:
list1

[4, 3, 2, 0]

In [83]:
list1.sort() #Sorts list in ascending order

In [84]:
list1

[0, 2, 3, 4]

In [85]:
list1.sort(reverse=True) #Sorts in descending order

In [86]:
list1

[4, 3, 2, 0]

**Tuples in Python**

A tuple is represented by a number of values separated by commas. Tuples are immutable and the output is surrounded by parentheses so that nested tuples are processed correctly.

If you dont want a set of values to be changed by your code, then u use tuples. For example, you dont want anyone to mess around with (lat,lng) pairs.

In [88]:
tuple1=1,2,3,4

In [89]:
tuple1

(1, 2, 3, 4)

In [90]:
tuple2=(1,2)

In [91]:
tuple2

(1, 2)

In [92]:
type(tuple1)

tuple

In [93]:
type(tuple2)

tuple

In [94]:
tuple1[0]

1

In [96]:
tuple1[2]=8 #Throws an error as tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [100]:
len(tuple1)

4

**Dictionary in Python**

Dictionary is an unordered set of key: value pairs, such that keys are unique. A pair of braces creates an empty dictionary: {}.

In [101]:
marks={'Maths':100,'Science':90,'Social':"Failed"}

In [102]:
marks['Maths']

100

In [104]:
for key,value in marks.items():
    print(str(key)+" "+str(value))

Maths 100
Science 90
Social Failed

In [105]:
marks.keys()

dict_keys(['Maths', 'Science', 'Social'])

In [106]:
marks.values()

dict_values([100, 90, 'Failed'])

**Conditional Statements in Python**

##### Iterating a list

In [109]:
for i in range(0,len(list1)):
    print(list1[i])

4
3
2
0

In [110]:
list2=[val+2 for val in list1] #This is a list comprehension
list2

[6, 5, 4, 2]

In [111]:
for val in list2:
    print(val)

6
5
4
2

In [112]:
for index,val in enumerate(list2):
    print("Index :",index)
    print("Value :",val)

Index : 0
Value : 6
Index : 1
Value : 5
Index : 2
Value : 4
Index : 3
Value : 2